@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #F5F5FB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: #000;
  }
}

* {
  margin: 0;
  padding: 0
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background)
}